# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Environment Variables
.env


# Miscellaneous
*.DS_Store
*.swp
*.tmp
*.bak
*.orig
